.section-1 {
    background-color: rgba(255,204,0);



}

.lecker-logo {
    width: 15%;
}

hr.line{
	border-top: 1px solid #8c8b8b;
   
}

.nav-style ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

.nav-style a:hover{
    color: red;
    border: 1px solid rgba(210, 77, 87, 1);
}

#pizza-bg-img {
    background-image: url(../assets/pizza-bg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.mt-9 {
    margin-top: 10rem;
}


.about {
    background-color: rgba(255,204,0,0.2);
    
}

.img-style {
    height: 270px;
}

.order-bg {
    background-color: rgba(255,204,0,0.2);
    width: 95%;
}

.w-40 {
    width: 40%;
}

.w-15 {width: 15%;}
.w-20 {width: 20%;}

.customer-choice {
    display: none;
}

#extra-price {display: none;}
.home-delivery {
    display: none;
}

.delivery-infor {
    display: none;
}

.place-order{display: none;}

.footer-img img {
    width: 5%;


}

.footer-img ul, .contact-li ul {
    list-style-type: none;
    
}

.section-f {
    background-color: rgba(255,204,0,0.5);



}